Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

<h1>Students</h1>


<%@classroom.students.each do |student| %>

<%end%>




We now want to call out the oldest student in the class:
<%@student = Student.new%>
<%= render 'students/student' %>
